@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/* 
font-family: 'Coming Soon', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lato&family=Roboto&display=swap');

body {
  font-family: 'Coming Soon', 'Roboto', 'lato', sans-serif;
}

.icon-container {
  display: flex;
}

.icon-container > * {
  opacity: 1;
  animation: showIcons 8s infinite; /* Ajusta la duración según tus preferencias */
}

@keyframes showIcons {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-icon-up {
  animation: bounceUp 1s infinite;
}

.animate-icon-down {
  animation: bounceDown 1s infinite;
}

@keyframes bounceUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes bounceDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
